[submodule "themes/site/themes/ajonp-hugo-ionic"]
	path = themes/site/themes/ajonp-hugo-ionic
	url = https://github.com/AJONPLLC/ajonp-hugo-ionic
[submodule "themes/themes/ajonp-hugo-ionic"]
	path = themes/themes/ajonp-hugo-ionic
	url = https://github.com/AJONPLLC/ajonp-hugo-ionic
